* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main {
  overflow-y: hidden;
  width: 100%;
  min-height: 200%;
  background-color: #232c2b;
  background-image: url("../Untitled-1.png");
}

#home {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

#home #content {
  width: 100%;
  height: 100vh;
}

#home #big-circle {
  width: 75vw;
  height: 75vw;
  border-radius: 50%;
  border: 1px dashed #e8e99628;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home #big-circle h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.185);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 1px solid #f7511f;
  color: #e9ab96;
  font-size: 1.5vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: -6.5%;
}

#home #text {
  font-family: "Hello Paris Sans Regular";
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home #text h1:nth-child(1) {
  letter-spacing: -15px;
}

#home #text h1:nth-child(3) {
  letter-spacing: -15px;
}

#home #text h1 {
  color: #e9ab96;
  font-weight: 100;
  text-align: center;
  font-size: 15vw;
  line-height: 8vw;
}

#home #text h1 span {
  display: inline-block;
}

#home #circle {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}

#home #circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home #nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 4vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0%;
  left: 0%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 5vw;
  font-family: "BIGILLA";
}

#home #nav #nleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home #nav #nleft h3 {
  font-family: "BIGILLA";
  text-decoration: underline;
  color: #e9ab96;
  margin-right: 1vw;
  font-size: 0.9vw;
}

#home #nav #nright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home #nav #nright h3 {
  font-family: "BIGILLA";
  font-size: 0.9vw;
  text-decoration: underline;
  color: #e9ab96;
  margin-left: 4vw;
}

#home #nav #ncenter {
  position: absolute;
  font-family: "BIGILLA";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home #nav #ncenter h2 {
  font-size: 2.5vw;
  font-weight: 090;
  color: #f73e06;
}

#home #mentions {
  width: 40vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 87%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#home #mentions #m1, #home #mentions #m2, #home #mentions #m3 {
  color: #e9ab96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home #mentions #m1 h1, #home #mentions #m2 h1, #home #mentions #m3 h1 {
  color: #f73e06;
  margin: -30px;
  font-size: 4vw;
  font-weight: 100;
}

#home #mentions #m1 h2, #home #mentions #m2 h2, #home #mentions #m3 h2 {
  font-weight: 100;
  font-size: 1.3vw;
  text-decoration: underline;
}

#second {
  z-index: 99;
  position: relative;
  width: 100%;
  overflow: hidden;
  min-width: 100vh;
}

#second #text {
  position: absolute;
  color: #e9ab96;
  position: absolute;
  top: 55%;
  font-family: "Bigilla";
  font-weight: 900;
  z-index: 2;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5vw;
}

#second #scroller {
  position: relative;
  margin-top: 90px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#second #scroller::-webkit-scrollbar {
  display: none;
}

#second #scroller #images {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30vw;
  height: 40vw;
  background-color: pink;
}

#second #scroller #images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#third {
  margin-top: 10%;
  width: 100%;
  min-height: 100vh;
}

#third #elem {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#third #elem #one {
  position: relative;
  width: 85%;
  height: 100vh;
  background-color: #1f3b2e;
}

#third #elem #one h1 {
  white-space: nowrap;
  font-family: "bigilla";
  position: absolute;
  top: 8%;
  left: -2%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#third #elem #two {
  width: 5%;
  height: 100vh;
  background-color: #294129;
  position: relative;
}

#third #elem #two h1 {
  font-family: "bigilla";
  position: absolute;
  top: 8%;
  white-space: nowrap;
  left: -20%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#third #elem #three {
  position: relative;
  width: 5%;
  height: 100vh;
  background-color: #40502a;
}

#third #elem #three h1 {
  white-space: nowrap;
  font-family: "bigilla";
  position: absolute;
  top: 8%;
  left: -20%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#third #elem #four {
  position: relative;
  width: 5%;
  height: 100vh;
  background-color: #555527;
}

#third #elem #four h1 {
  white-space: nowrap;
  font-family: "bigilla";
  position: absolute;
  top: 8%;
  left: -20%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#fourth {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #111111;
}

#fourth #links {
  height: 70vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  left: 10%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#fourth #links h1 {
  font-size: 5vw;
  cursor: pointer;
  color: #727272;
  font-family: "Bigilla";
}

#fourth #links h1:hover {
  color: white;
}

#fourth #img1, #fourth #img2, #fourth #img3, #fourth #img4 {
  position: absolute;
  right: 0%;
  width: 60%;
  top: 10%;
  height: 100vh;
  height: 100%;
}

#fourth #img1 img:nth-child(1), #fourth #img2 img:nth-child(1), #fourth #img3 img:nth-child(1), #fourth #img4 img:nth-child(1) {
  -webkit-transform: rotate(-10deg) translateX(-30px);
          transform: rotate(-10deg) translateX(-30px);
  width: 400px;
}

#fourth #img1 img:nth-child(2), #fourth #img2 img:nth-child(2), #fourth #img3 img:nth-child(2), #fourth #img4 img:nth-child(2) {
  -webkit-transform: rotate(5deg) translateX(100px);
          transform: rotate(5deg) translateX(100px);
  width: 400px;
}

#fourth #img1 img:nth-child(3), #fourth #img2 img:nth-child(3), #fourth #img3 img:nth-child(3), #fourth #img4 img:nth-child(3) {
  width: 300px;
  -webkit-transform: rotate(-1deg) translateX(-600px) translateY(200px);
          transform: rotate(-1deg) translateX(-600px) translateY(200px);
}

#fourth #img1 img, #fourth #img2 img, #fourth #img3 img, #fourth #img4 img {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */